@media screen and (max-width:1700px){
.sp_txt{
	padding: 150px 20px 0 20px;
	letter-spacing: 0;
}
.fd1 > div {
    height: 450px;
}
.fd1 > div span{
	padding-top: 130px;
}
}
@media screen and (max-width:1520px){
.fd1 > div {
	height: 400px;
	font-size: 20px;
	line-height: 2;
}
.fd1 > div span{
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	margin: 10px;
}
}
@media screen and (max-width:1450px){
.sp_txt{
	padding: 120px 20px 0 20px;
}
.ind_sp a{
	width: 100px;
	margin: 0 5px;
}
.f_pc1{
	display: block;
}
.p1icon > div{
	width: 40%;
}
.p3icon{
	padding-top: 50px;
}
.p3icon > div{
	display: block;
	width: 80%;
	height: 300px;
	padding: 100px 50px 50px 400px;
	margin: 0 auto 50px auto;
	text-align: justify;
}
.p3a{
	background: url(../img/icon7.png) no-repeat center left;
}
.p3b{
	background: url(../img/icon8.png) no-repeat center left;
}
.p3c{
	background: url(../img/icon9.png) no-repeat center left;
}
.p3a,.p3b,.p3c{
	background-position-x: 10%;
}
.equ_pic, .des_pic {
    width: 300px;
}
.equ_txt, .des_txt {
    width: calc(100% - 310px);
    padding: 0 10px;
}
.fp2 > div.slidtxt {
    width: 80%;
	margin: 0 auto;
	text-align: center;
}
.fp2 ul {
	width: 600px;
	text-align: left;
	margin: 0 auto;
}
.fp2 > div, .slidpic.owl-carousel.owl-theme {
    display: block;
    margin: 40px auto 0 auto;
    width: 80%;
}
}
@media screen and (max-width:1250px){
.map{
	width: 90%;
}
.w1200{
	width: 90%;
} 
.des_block > div {
    display: block;
    width: calc(90% + 40px);
	margin-left: 3%;
}
.plan_txt {
    margin-right: 50px;
}
.fd1 > div {
	height: 350px;
	font-size: 20px;
	line-height: 2;
	letter-spacing: 0;
}
.fd1 > div span{
	padding-top: 120px;
}
.bk_p1{
	width: 90%;
}
.bk_but{
	width: 40%;
}
}
@media screen and (max-width:1120px){
a.water{
	bottom: 6%;
	right: 5px;
}
.part2{
	display: block;
}
.ind_sp{
	display: block;
	height: 400px;
	margin: 0 auto 20px auto;
}
.sp_pic{
	height: 400px;
}
.sp_txt,.sp6 .sp_txt{
	height: 340px;
	padding: 130px 20px 0 20px;
}
.ind_sp.sp6 .sp_pic,.sp6{
	height: 400px;
}
.sp6 .sp_txt{
	padding-top: 75px;
}
.top{
	height: 75px;
}
.logo{
	width: 220px;
	top: 10px;
	left: 20px;
}
.toggle{
	display: block;
	position: fixed;
	top:15px;
	right:10px;
	z-index: 205;
	background:url(../img/nav.png) no-repeat;
	background-size: contain;
	height: 45px;
	width: 45px;
}
.activeclose{
	background:url(../img/close.png) no-repeat;
	background-size: contain;
}
.nav{
	display: none;
	position: fixed;
	right:0;
	top:76px;
	z-index:202;
	height:100vh;
	width:100%;
	background: rgba(235, 235, 235, 0.8);
}
.nav a{
	width: 100%;
	display: block;
    border-bottom: 1px solid #ccc;
    padding:20px 0;
    text-align: center;
	z-index:202;
    margin: 0;
}
.nav a.en,.nav a.be{
	display: block;
	width: 100%;
	height: auto;
    padding: 30px 0;
}
.t1{
	top: 120px;
	left: calc(50% - 430px);
}
.t2{
	top: 480px;
	left: calc(50% + 10px);
}
.t3{
	left: calc(50% + 270px);
}
.ind_messageall{
  column-gap: 10px;
}
.ind_messageall > div{
	padding: 20px 35px;
	width: calc(100% - 20px);
}
.part5{
	background-position-x: 30%;
}
.p5txt{
	left: calc(50% - 20px);
}
.footer1{
	padding: 40px 0 20px 0;
	width: 100%;
}
.footer1 > div{
	display: block;
}
.footer1a{
	width: 80%;
	text-align: center;
	margin: 0 auto 20px auto;
}
.footer1b{
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.p3icon > div {
    width: 90%;
    padding: 100px 50px 50px 350px;
}
.p3icon > div p {
    margin-top:0
}
.loc_kv,.des_kv,.equ{
	padding-top: 75px ;
}
.w1200{
	width: 96%;
}
.table4 img {
    width: 250px;
}
.equ > div {
    display: block;
    width: calc(90% + 40px);
	margin-left: 3%;
}
.equ5 .equ_pic {
    width: 300px;
    height: 400px;
}
.equ5 .equ_txt {
    width: calc(100% - 310px);
}
.fp1 > div {
    display: block;
	margin: 0 auto;
}
.fp1 > div.plan_txt {
    margin:0 auto 20px auto;
}
.plan_txt ul {
	width: 96%;
	margin-left: 2%;
}
.plan_txt ul li {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
}
@media screen and (max-width:1080px){
.moreservice > div {
	width: 31%;
}
.fp2 > div.slidtxt,.fp2 > div, .slidpic.owl-carousel.owl-theme {
    width: 96%;
}
.fd1 > div {
	width: 46%;
	height: 250px;
}
.fd1 > div.fd1_3{
	float: right;
	margin-right: 2.8%;
}
.fd1 > div.fd1_4{
	float: left;
	margin-left: 2.8%;
}
.fd1 > div span{
	padding-top: 75px;
}
.fd3 .tips{
	width: 90%;
	margin-left: 5%;
	text-align: left;
}
.bk_p1{
	width: 100%;
}
.bk_but{
	width: 40%;
}
.bk_but > div{
	margin: 25px 0 25px 50px;
}
.cale{
	width: 57%;
}
.bk_time {
    width: 90%;
}
}
@media screen and (max-width:880px){
.t1{
	width: 400px;
	height: 400px;
	padding: 90px 0 0 0;
	font-size: 30px;
	outline: 15px solid rgba(46, 46, 46, 0.7);
	top: 120px;
	left: calc(50% - 200px);
	text-align: center;
}
.t1 p{
	font-size: 35px;
	letter-spacing: 4px;
}
.t1 p span{
	font-size: 20px;
}
.t2,.t3{
	width: 220px;
	height: 220px;
	padding-top: 50px;
	font-size: 18px;
	top: 540px;
	letter-spacing: 0;
	left: calc(50% - 230px);
	outline: 10px solid rgba(46, 46, 46, 0.7);
}
.t3{
	width: 120px;
	height: 120px;
	padding-top: 50px;
	top: 510px;
	left: calc(50% + 110px);
}
.sp_txt{
    padding-top: 100px ;
}
.sp6 .sp_txt {
    padding-top: 70px;
}
.p3icon > div {
    padding: 70px 30px 50px 330px;
}
.ind_messageall{
	column-count: 1;
}	
.ind_messageall > div{
	width: calc(100% - 20px);
	margin: 0 auto 10px auto;
}
.part5{
	background-size: 1100px;
}
.p5txt{
	left: calc(50% - 40px);
	width: 360px;
}
.op1 > div{
	width: 90%;
	padding: 30px;
	top: 20%;
	left: 5%;
}
.table4 img {
    width: 200px;
}
.page_list li{
	padding: 5px 0;
}
.pricetable{
	letter-spacing: 0;
}
.page_tit p {
    font-size: 18px;
    margin: 10px auto;
    font-weight: 400;
	letter-spacing: 0;
}
.bk_but{
	width: 36%;
}
.bk_but > div{
	margin: 25px 0 25px 20px;
}
.cale{
	width: 60%;
}
.bk_time {
    width: 100%;
}
.bk_time > div {
    width: 180px;
	margin: 10px 2px;
}
}
@media screen and (max-width:850px){
.fd1 > div.fd1_3{
	margin-right: 2.5%;
}
.fd1 > div.fd1_4{
	margin-left: 2.5%;
}
}
@media screen and (max-width:800px){
.moreservice > div {
	font-size: 16px;
	letter-spacing: 0;
}
.pricetable_out{
	overflow: auto;
}
.pricetable_out table{
	width: 750px;
}
.des_kvtxt > div{
	width: 250px;
	height: 250px;
	font-size: 18px;
	padding: 60px 10px 0 30px;
	outline: 10px solid rgba(46, 46, 46, 0.7);
}
.des_kvtxt .t6{
	top: 30px;
	left: calc(50% - 220px);
}
.des_kvtxt .t7{
	top: 220px;
	left: calc(50% - 50px);
}
.plan_txt ul li {
	display: block;
	width: 100%;
}
}
@media screen and (max-width:760px){
.loc_kvtxt .t4{
	width: 290px;
	height: 290px;
	padding: 90px 0 0 20px;
	font-size: 25px;
	outline: 10px solid rgba(46, 46, 46, 0.7);
	top: 30px;
	left: calc(50% - 220px);
}
.loc_kvtxt .t5{
	width: 230px;
	height: 230px;
	font-size: 18px;
	padding: 80px 0 0 15px;
	top: 240px;
	left: calc(50% - 15px);
}
.loc_sp{
	width: 90%;
}
.loc_sp ul li{
	text-indent: -35px;
	padding-left: 35px;
}
.loc_sp ul li i{
	left: 0px;
}
.page_list {
    padding-left: 10px;
}
.page_list li{
	padding:0;
}
}
@media screen and (max-width:720px){
.fd1 > div{
	display: block;
	width: 96%;
	height: 250px;
	margin: 10px;
}
.fd1 > div.fd1_3,.fd1 > div.fd1_4{
	float: none;
}
.fd1 > div span{
	display: inline-block;
	padding-top: 70px;
	height: 230px;
}
}
@media screen and (max-width:660px){
a.water{
	background: rgba(53, 136, 189,0.8);
	box-shadow: none;
	width: 100%;
	height: 55px;
	border-radius: 0;
	font-size: 22px;
	padding-top: 10px;
	bottom: 0;
	right: 0;
}	
.p3a,.p3b,.p3c{
	background-position-x: 5%;
	background-size: 200px;
}
.p3icon > div {
    padding: 50px 30px 50px 250px;
	height: 270px;
}
.part4 {
	background-size: 250px;
	background-position: -60px -20px;
}
.part5{
	background-size: 1000px;
	background-position: -20% 110%;
	padding-top: 50px;
	height: 600px;
}
.p5txt{
	left: 5%;
	width: 90%;
	text-align: center;
}
.p5txt p{
	font-size: 20px;
	padding: 10px 0 30px 0; 
}
.part6 {
    font-size: 20px;
}
.footer1a > div{
	display: block;
}
.f_logo {
    width: 220px;
    height: 150px;
    margin: 0 auto 20px auto;
}
.footer2{
	letter-spacing: 0;
	padding-bottom: 70px;
}
.table4 td{
	display: block;
}
.table4 td:first-child,.table4 img {
	text-align: center;
	margin: 0 auto;
}
.page_list{
	padding-left: 30px;
}
.moreservice > div {
	width: 30%;
	height: 100px;
	padding-top: 40px;
    margin: 5px;
	vertical-align: top;
}
.moreservice > div.pt1{
	padding-top: 26px;
}
.f_m2{
	display: block;
}
.equ > div, .des_block > div,.equ > div.equ5 {
	height: 450px;
	width: calc(100% - 40px);
	margin-left: 3%;
}
.des_block > div{
	height: fit-content;
}
.equ_pic,.equ5 .equ_pic, .des_pic{
	width: 100%;
	height: 250px;
	display: block;
	text-align: center;
	border-radius: 10px 10px 0 0;
}
.equ_txt, .des_txt,.equ5 .equ_txt {
	display: block;
    width: 90%;
    padding: 0;
	margin: 20px 5%;
}
.equ > div.equ5 {
    height: 600px;
}
.fp1 {
    padding: 100px 0 0 0;
}
.plan_main {
	transform: scale(0.8);
	transform-origin:80% 0 ;
	width: 100%;
}
.fp2 ul {
    width: 90%;
}
.plan_txt ul {
    width: 90%;
    margin-left: 5%;
}
.bk_p1 > div{
	display: block;
	width: 90%;
	margin: 0 auto;
}
.bk_p1 > div.cale{
	margin: 50px auto;
}
.bk_but > div{
	display: inline-block;
	margin: 5px;
	font-size: 18px;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	transition: 0.3s;
}
.bk_but > div:hover{
	background: #efefef;
}
.bk_time > div{
	width: 160px;
}
.pnt_out{
	padding: 150px 0 30px 0;
}
.pagenotfound{
	background: url(../img/404.png) center top no-repeat;
	background-size: 60%;
	width: 100%;
	height: 350px;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	padding: 150px 0;
}
}
@media screen and (max-width:550px){
.t1{
	top: 80px;
	transform: scale(0.8);
}
.t2{
	top: 500px;
	left: calc(50% - 180px);
}
.t3{
	top: 450px;
	left: calc(50% + 60px);
}
.ind_title {
    font-size: 32px;
    letter-spacing: 2px;
}
.p1icon > div{
	display: block;
	width: 80%;
	height: fit-content;
	padding: 270px 0 50px 0;
	margin: 20px auto;
}
.sp6 .sp_txt {
    padding-top: 50px;
}
.p3a{
	background: url(../img/icon7.png) no-repeat top;
}
.p3b{
	background: url(../img/icon8.png) no-repeat top;
}
.p3c{
	background: url(../img/icon9.png) no-repeat top;
}	
.p3a,.p3b,.p3c{
	background-position-y: 10%;
	background-size: 200px;
}
.p3icon > div{
	width: 80%;
	height: fit-content;
	padding: 240px 0 50px 0;
	margin: 20px auto;
	text-align: center;
}
.part4 {
	background-size: 230px;
	background-position: -60px -20px;
}
.part5{
	background-position: 0% 110%;
}
.p5txt p {
    font-size: 18px;
}
.part6 > div{
	font-size: 18px;
	width: 90%;
	margin: 0 auto;
	line-height: 1.5;
}
.part6 > div.map{
	margin-top: 20px;
}
.f_m{
	display: block;
}
.plan_main {
	transform-origin:50% 0 ;
}
}
@media screen and (max-width:500px){

.plan_main {
	transform-origin:30% 0 ;
}
}