@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Noto Sans TC' , sans-serif;
	vertical-align:baseline;
	text-decoration:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
body, html{
	overflow-anchor: none;
	width:100%;
	height: auto;
	color: #333;
}
html{
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 2px;
}
.hide,.f_pc1,.toggle,.f_m,.f_m2{
	display: none;
}
a.water{
	display: block;
	position: fixed;
	background: url(../img/icon10.png) no-repeat top center rgba(53, 136, 189,0.8);
	background-position-y: 30%;
	box-shadow: 1px 3px 5px rgba(0, 0, 0,0.5);
	width: 140px;
	height: 140px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	padding-top: 90px;
	color: #fff;
	bottom: 6%;
	right: 3%;
	z-index: 10;
	transition: 0.3s;
}
a.water:hover{
	filter: brightness(1.2);
}
.w1200{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.top{
	position: fixed;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 85px;
	z-index: 5;
}
.top > div{
	position: absolute;
}
.logo{
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	width: 231px;
	height: 59px;
	top: 15px;
	left: 50px;
	cursor: pointer;
}
.nav{
	top: 25px;
	right: 50px;
	font-size: 18px;
}
.nav a{
	margin: 0 10px;
	color: #333;
	font-weight: 500;
	transition: 0.3s;
}
.nav a:hover{
	filter: brightness(1.5);
}
.nav a.on{
	color: #3588bd;
}
.nav a.en,.nav a.be{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.nav a.en{
	background: url(../img/icon1.png) no-repeat center;
}
.nav a.be{
	background: url(../img/icon2.png) no-repeat center;
}
.kv{
	position: relative;
	width: 100%;
	height: 800px;
	background: #ccc;
	overflow: hidden;
}
.kv_photo{
	position: absolute;
	width: 100%;
	height: 800px;
	overflow: hidden;
}
.kv_photo .owl-item > div{
	width: 100%;
	height: 800px;
	background-size: cover;
}
.p1{
	background: url(../img/001.jpg) no-repeat center;
}
.p2{
	background: url(../img/002.jpg) no-repeat center;
}
.p3{
	background: url(../img/003.jpg) no-repeat center;
}
.p4{
	background: url(../img/004.jpg) no-repeat center;
}
.p5{
	background: url(../img/005.jpg) no-repeat center;
}
.p6{
	background: url(../img/006.jpg) no-repeat center;
}
.p7{
	background: url(../img/007.jpg) no-repeat center;
}
.p8{
	background: url(../img/008.jpg) no-repeat center;
}
.p9{
	background: url(../img/009.jpg) no-repeat center;
}
.p10{
	background: url(../img/index_6.jpg) no-repeat center;
}
.p11{
	background: url(../img/index_3.jpg) no-repeat center;
}
.p12{
	background: url(../img/des_pic1.jpg) no-repeat center;
}
.p13{
	background: url(../img/des_pic2.jpg) no-repeat center;
}
.p14{
	background: url(../img/des_pic3.jpg) no-repeat center;
}
.p15{
	background: url(../img/des_pic4.jpg) no-repeat center;
}
.p16{
	background: url(../img/des_pic5.jpg) no-repeat center;
}
.p17{
	background: url(../img/des_pic6.jpg) no-repeat center;
}
.p18{
	background: url(../img/des_pic7.jpg) no-repeat center;
}
.kv_txt{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 800px;
}
@keyframes kv_txt{
  0%  {margin:0 }
  20% {margin:5px 0 0 10px;}
  40% {margin:-5px 0 0 -5px;}
  50% {margin:5px 0 0 5px} 
  60% {margin:-15px 0 0 15px} 
  70% {margin:10px 0 0 -10px} 
  90% {margin:5px 0 0 5px} 
  100%{margin:0}
}
.kv_txt > div,.loc_kvtxt > div,.des_kvtxt > div{
	position: absolute;
	border-radius: 50%;
	background: rgba(46, 46, 46, 0.7);
	color: #fff;
	text-shadow: 0 0 5px #000;
	border: 1px solid #fff;
	animation-name:kv_txt;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.t1{
	width: 470px;
	height: 470px;
	padding: 110px 0 0 40px;
	font-size: 36px;
	font-weight: 500;
	outline: 20px solid rgba(46, 46, 46, 0.7);
	top: 180px;
	left: calc(50% - 500px);
}
.t1 p{
	font-size: 40px;
	margin-top: 20px;
	letter-spacing: 5px;
}
.t1 p span{
	display: block;
	font-size: 25px;
	font-weight: 300;
	margin-top: 20px;
	letter-spacing: 2px;
}
.t2,.t3{
	width: 260px;
	height: 260px;
	padding-top: 60px;
	font-size: 20px;
	text-align: center;
	font-weight: 300;
	top: 450px;
	left: calc(50% + 50px);
	outline: 15px solid rgba(46, 46, 46, 0.7);
	animation-delay: 1s;
	animation-duration: 18s;
}
.t3{
	width: 150px;
	height: 150px;
	padding-top: 60px;
	top: 400px;
	font-weight: 500;
	left: calc(50% + 380px);
	outline: 10px solid rgba(46, 46, 46, 0.7);
	cursor: pointer;
	transition: 0.3s;
	animation-delay: 2s;
	animation-duration: 20s;
}
.t3:hover{
	filter: brightness(1.3);
}
.part1{
	padding: 150px 0;
	text-align: center;
}
.p1icon > div,.p3icon > div{
	display: inline-block;
	width: 250px;
	height: 350px;
	padding: 270px 0 50px 0;
	margin: 20px 3%;
	font-size: 26px;
	cursor: pointer;
	transition: 0.3s;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}
.p1icon > div:hover,.p3icon > div:hover{
	color: #3588bd;
	border-top: 3px solid #3588bd;
	border-bottom: 3px solid #3588bd;
	border-radius: 20px;
}
.p1a{
	background: url(../img/icon3.png) no-repeat top;
}
.p1b{
	background: url(../img/icon4.png) no-repeat top;
}
.p1c{
	background: url(../img/icon5.png) no-repeat top;
}
.p1d{
	background: url(../img/icon6.png) no-repeat top;
}
.p1a,.p1b,.p1c,.p1d{
	background-position-y: 30%;
}
.part2{
	background: #ccc;
	padding: 150px 30px;
	display: grid;
	grid-template-areas:
    'sp_top1 sp_top2 sp_top3'
    'sp_big sp_big sp_right1'
    'sp_big sp_big sp_right2';
	gap: 30px;
}
.ind_sp{
	position: relative;
	display: inline-block;
	text-align: center;
	height: 450px;
}
.sp_pic{
	position: absolute;
	width: 100%;
	height: 450px;
	border: 10px solid #fff;
}
.ind_sp.sp6 .sp_pic{
	height: 930px;
}
.sp1{
	grid-area:sp_top1;
}
.sp2{
	grid-area:sp_top2;
}
.sp3{
	grid-area:sp_top3;
}
.sp4{
	grid-area:sp_right1;
}
.sp5{
	grid-area:sp_right2;
}
.sp6{
	grid-area:sp_big;
	height: 930px;
}
.sp1 .sp_pic{
	background: url(../img/002.jpg) no-repeat center;
	background-size: cover;
}
.sp2 .sp_pic{
	background: url(../img/index_2.jpg) no-repeat center;
	background-size: cover;
}
.sp3 .sp_pic{
	background: url(../img/index_3.jpg) no-repeat center;
	background-size: cover;
}
.sp4 .sp_pic{
	background: url(../img/index_4.jpg) no-repeat center;
	background-size: cover;
}
.sp5 .sp_pic{
	background: url(../img/index_5.jpg) no-repeat center;
	background-size: cover;
}
.sp6 .sp_pic{
	background: url(../img/index_6.jpg) no-repeat center;
	background-size: cover;
}
.sp_txt{
	position: absolute;
	width: calc(100% - 60px);
	font-size: 18px;
	font-weight: 300;
	height: 390px;
	margin: 30px;
	padding: 150px 50px 0 50px;
	color: #fff;
	border: 1px solid #fff;
	text-shadow: 0 0 5px #000;
	background: linear-gradient(to bottom, transparent 20% ,rgba(46, 46, 46, 0.7) 70%);
}
.ind_title{
	font-size: 35px;
	font-weight: 500;
	letter-spacing: 4px;
	margin: 15px auto;
}
.ind_title span{
	display: block;
	font-size: 20px;
	font-weight: 300;
	margin-top: 10px;
	letter-spacing: 2px;
}
.sp6 .sp_txt{
	padding-top: 600px;
	height: 870px;
}
.ind_but{
	margin-top: 25px;
}
.ind_sp a,.p5txt a{
	display: inline-block;
	border-radius: 5px;
	background: #fff;
	color: #555;
	padding: 10px 0;
	font-weight: 400;
	text-shadow: none;
	width: 120px;
	text-align: center;
	margin: 0 20px;
	font-size: 16px;
	transition: 0.3s;
}
.ind_sp a:hover{
	background: rgba(255, 255, 255, 0.7);
	color: #000;
}
.part3{
	padding: 150px 0;
	text-align: center;
}
.p3icon > div{
	width: 380px;
	height: 500px;
	padding: 320px 0 50px 0;
	margin: 20px 3%;
	font-size: 26px;
}
.p3a{
	background: url(../img/icon7.png) no-repeat top;
}
.p3b{
	background: url(../img/icon8.png) no-repeat top;
}
.p3c{
	background: url(../img/icon9.png) no-repeat top;
}
.p3a,.p3b,.p3c{
	background-position-y: 20%;
}
.p3icon > div p{
	font-size: 16px;
	margin-top: 10px;
}
.part4{
	background: url(../img/p4bg.png) no-repeat top left #999;
	padding: 150px 0;
	text-align: center;
}
.part4 .ind_title{
	color: #fff;
}
.ind_messageall{
	width: 90%;
	overflow: hidden;
	text-align: center;
	margin: 50px auto;
	column-count: 3;
  column-gap: 20px;
}
.ind_messageall > div{
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	box-shadow: 3px 3px 5px #888;
	padding: 40px 50px;
	text-align: justify;
	width: calc(100% - 40px);
	height: fit-content;
	margin-bottom: 30px;
}
.part5{
	position: relative;
	background: url(../img/greeter.jpg) no-repeat center bottom #fff;
	width: 100%;
	height: 550px;
	padding-top: 100px;
	text-align: center;
}
.p5txt{
	position: absolute;
	text-align: left;
	left: calc(50% + 5px);
}
.p5txt p{
	font-size: 20px;
	padding: 50px 0 80px 0;
}
.p5txt a{
	background: #888;
	color: #fff;
	width: 180px;
	margin: 0;
}
.p5txt a:hover{
	background: #a8a8a8;
}
.part6{
	text-align: center;
	background: #c8c8c8;
	padding: 150px 0;
	font-size: 24px;
	line-height: 2;
}
.map{
	background: #fff;
	margin: 50px auto 0 auto;
	width: 1200px;
	height: fit-content;
	border-radius: 20px;
}
.map img{
	width: 100%;
}
footer{
	font-size: 14px;
}
footer h6{
	font-size: 20px;
	margin-bottom: 3px;
	color: #888;
	font-weight: 700;
	letter-spacing: 3px;
}
.footer1b a{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 15px;
	transition: 0.3s;
}
.footer1b a:hover{
	filter: brightness(1.2);
}
.footer1b a.fb{
	background: url(../img/s_fb.png) no-repeat;
}
.footer1b a.ig{
	background: url(../img/s_ig.png) no-repeat;
}
.footer1b a.line{
	background: url(../img/s_line.png) no-repeat;
}
.footer1b a.yt{
	background: url(../img/s_yt.png) no-repeat;
}
.f_logo{
	background: url(../img/logo_f.png) no-repeat;
	background-size: contain;
	width: 175px;
	height: 112px;
	margin-right: 50px;
}
.footer1{
	padding: 40px 0;
	width: 80%;
	margin: 0 auto;
}
.footer1 > div,.footer1a > div{
	display: inline-block;
	vertical-align: middle;
}
.footer1a{
	width: 60%;
}
.footer1b{
	width: 35%;
	text-align: right;
}
.footer2{
	color: #fff;
	background: #888;
	line-height: 1.8;
	text-align: center;
	padding: 20px 0;
}
/*------page------*/
.loc_kv,.des_kv{
	position: relative;
	width: 100%;
	height: 585px;
	padding-top: 85px ;
	overflow: hidden;
}
.loc_kv .kv_photo,.des_kv .kv_photo{
	height: 500px;
}
.loc_kv .kv_photo .owl-item > div,.des_kv .kv_photo .owl-item > div{
	height: 500px;
	background-position: 50% 100%;
}
.loc_kvtxt,.loc_kvtxt,.des_kvtxt{
	position: absolute;
	width: 100%;
	height: 500px;
	z-index: 3;
	color: #fff;
	text-shadow: 0 0 5px #000;
}
.loc_kvtxt .t4{
	width: 400px;
	height: 400px;
	padding: 120px 0 0 30px;
	font-size: 36px;
	font-weight: 500;
	outline: 15px solid rgba(46, 46, 46, 0.7);
	top: 30px;
	left: calc(50% - 350px);
}
.loc_kvtxt .t5{
	width: 250px;
	height: 250px;
	padding: 80px 0 0 15px;
	font-size: 20px;
	font-weight: 400;
	outline: 10px solid rgba(46, 46, 46, 0.7);
	top: 220px;
	left: calc(50% + 100px);
	animation-delay: 1s;
	animation-duration: 18s;
}
.loc_sp{
	text-align: center;
	font-size: 20px;
	width: 680px;
	margin: 100px auto;
}
.loc_sp ul {
	text-align: left;
}
.loc_sp ul li{
	position: relative;
	padding-bottom: 20px;
}
.loc_sp ul li span{
	display: inline-block;
	border: 3px solid #3588bd;
	border-radius: 5px;
	width: 24px;
	height: 24px;
	vertical-align: sub;
	margin-right: 10px;
}
@keyframes ok{
  0%  {opacity: 0;}
  20% {opacity: 0;}
  50% {opacity: 1;}
  100%{opacity: 1;}
}
.loc_sp ul li i{
	opacity: 0;
	position: absolute;
	display: block;
	background: url(../img/icon_ok.png) no-repeat;
	background-size: contain;
	width: 26px;
	height: 26px;
	top: -2px;
	animation-name:ok;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.ok2{
	animation-delay: 0.3s;
}
.ok3{
	animation-delay: 0.6s;
}
.ok4{
	animation-delay: 0.9s;
}
.loc_sp button{
	background: #3588bd;
	width: 300px;
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	margin: 50px auto 20px auto;
	padding: 10px 0;
	border-radius: 10px;
	text-align: center;
	transition: 0.3s;
}
.loc_sp button:hover{
	filter: brightness(1.2);
}
.popup{
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 20;
}
.closepop{
	position: absolute;
	background:url(../img/close.png) no-repeat;
	background-size: contain;
	height: 45px;
	width: 45px;
	top: 20px;
	right: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closepop:hover{
	transform: rotate(180deg);
}
.op1 > div{
	position: absolute;
	background: #fff;
	width: 800px;
	font-size: 20px;
	line-height: 2;
	padding: 30px 50px;
	border-radius: 20px;
	top: 25%;
	left: calc(50% - 400px);
}
.op1 > div ul{
	list-style: square;
	font-size: 16px;
	padding: 20px 0 0 25px;
	border-top: 1px solid #ccc;
	margin-top: 20px;
}
.googlemap{
	width: 100%;
	height: 450px;
}
.googlemap iframe{
	width: 100%;
	height: 450px;
}
.pagecont{
	width: 100%;
	padding: 100px 0;
	text-align: center;
	border-bottom: 1px solid #efefef;
}
.page_tit{
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 20px;
	letter-spacing: 5px;
}
.page_tit p{
	font-size: 18px;
	margin: 10px auto;
	font-weight: 400;
}
table.pricetable{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ccc;
	background: rgba(255, 255, 255, 0.8);
}
table.pricetable th,table.pricetable td{
	padding: 10px;
	vertical-align: middle;
}
table.pricetable th{
	background: #888;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	width: 18%;
}
table.pricetable th:first-child{
	width: 25%;
}
table.pricetable tbody tr:nth-child(even){
	background: rgba(225, 225, 225, 0.5);
}
.red{
	color: #e74269;
	font-weight: 700;
}
table.pricetable.table2 th:first-child{
	width: 24%;
}
table.pricetable.table2 th:nth-child(2){
	width: 10%;
}
table.pricetable.table3 th:first-child,table.pricetable.table3 th:last-child{
	width: 30%;
}
table.pricetable.table4 tr:nth-child(even){
	background: transparent;
}
.page_list{
	margin: 0 auto;
	list-style: square;
	text-align: left;
	padding-left: 30px;
}
.page_list li{
	padding: 10px 0;
}
.table4 img{
	width: 300px;
}
.moreservice > div{
	display: inline-block;
	width: 23%;
	font-size: 18px;	
	padding: 20px 0;
	text-align: center;
	margin: 10px 0.5%;
	background: #efefef;
	transition: 0.3s;
}
.moreservice > div:hover{
	background: #ccc;
	font-weight: 500;
}
.pr1{
	background: url(../img/price_bg1.png) no-repeat right bottom;
}
.pr2{
	background: url(../img/price_bg2.png) no-repeat left bottom;
}
.pr3{
	background: url(../img/price_bg3.png) no-repeat right bottom;
}
.pr5{
	background: url(../img/price_bg5.png) no-repeat right bottom;
}
.pr6{
	background: url(../img/price_bg6.png) no-repeat left bottom;
}
.pr7{
	background: url(../img/price_bg7.png) no-repeat right bottom;
}
.fd1{
	text-align: center;
	margin: 0 auto;
	padding-top: 75px;
}
.fd1 > div{
	display: inline-block;
	background-size: cover;
	width: 30%;
	height: 550px;
	margin: 10px;
	text-align: center;
	font-size: 25px;
	line-height: 3;
	vertical-align: top;
}
.fd1_1{
	background: url(../img/food4.jpg) no-repeat center;
}
.fd1_2{
	background: url(../img/fd_bg1.png) no-repeat center #eee;
}
.fd1_3{
	background: url(../img/food5.jpg) no-repeat center;
}
.fd1_4{
	background: url(../img/fd_bg2.png) no-repeat center #eee;
}
.fd1_5{
	background: url(../img/food6.jpg) no-repeat center;
}
.fd1_6{
	background: url(../img/fd_bg3.png) no-repeat center #eee;
}
.fd1 > div span{
	display: block;
	border: 1px solid #fff;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	padding-top: 175px;
}
.fd2 > div{
	display: inline-block;
	background-position-y: 25px;
	width: 350px;
	height: 350px;
	margin: 20px;
	padding-top: 250px;
	font-size: 25px;
	border-radius: 50%;
	color: #fff;
}
.fd2_icon1{
	background: url(../img/fd_icon1.png) no-repeat top center #ccc;
}
.fd2_icon2{
	background: url(../img/fd_icon2.png) no-repeat top center #aaa;
}
.fd2_icon3{
	background: url(../img/fd_icon3.png) no-repeat top center #ccc;
}
.fd2_icon4{
	background: url(../img/fd_icon4.png) no-repeat top center #aaa;
}
.fd2_icon5{
	background: url(../img/fd_icon5.png) no-repeat top center #ccc;
}
.fd2_icon6{
	background: url(../img/fd_icon6.png) no-repeat top center #aaa;
}
.fd3{
	background: #eee;
}
.fd3a.owl-carousel {
	width: 90%;
	margin: 80px auto;
	text-align: center;
}
.fd3a.owl-carousel .owl-item{
	float: none;
	display: inline-block;
	text-align: center;
}
.fd3a.owl-carousel .owl-item > div{
	background-size: cover;
	width: 300px;
	height: 300px;
	border: 10px solid #fff;
	margin: 0 auto;
}
.fd3a.owl-carousel .owl-nav .owl-prev,.fd3a.owl-carousel .owl-nav .owl-next,.slidpic.owl-carousel .owl-nav .owl-prev,.slidpic.owl-carousel .owl-nav .owl-next{
	position: absolute;
	top: 25%;
	left: -3%;
	transition: 0.3s;
	color: #888;
	height: 50px;
}
.fd3a.owl-carousel .owl-nav .owl-next{
	left: auto;
	right: -3%;
}
.fd3a.owl-carousel .owl-nav button > span,.slidpic.owl-carousel .owl-nav button > span {
	font-size: 5rem;
}
.fd3a.owl-theme .owl-nav [class*=owl-]:hover,.slidpic.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
	color: #fff;
}
.slidpic.owl-carousel .owl-nav .owl-prev,.slidpic.owl-carousel .owl-nav .owl-next{
	top: 32%;
	left: 0%;
}
.slidpic.owl-carousel .owl-nav .owl-next {
	left: auto;
	right: 0%;
}
.fd3_pic1{
	background: url(../img/food1.jpg) no-repeat center #ccc;
}
.fd3_pic2{
	background: url(../img/food2.jpg) no-repeat center #ccc;
}
.fd3_pic3{
	background: url(../img/food3.jpg) no-repeat center #ccc;
}
.fd3_pic4{
	background: url(../img/food4.jpg) no-repeat center #ccc;
}
.fd3_pic5{
	background: url(../img/food6.jpg) no-repeat center #ccc;
}
.fd3_pic6{
	background: url(../img/008.jpg) no-repeat center #ccc;
}
.fd3_pic7{
	background: url(../img/food7.jpg) no-repeat center #ccc;
}
.fd3_pic8{
	background: url(../img/food8.jpg) no-repeat center #ccc;
}
.fd3_pic9{
	background: url(../img/food9.jpg) no-repeat center #ccc;
}
.tips{
	font-size: 14px;
}
.equ{
	padding: 85px 0;
	margin: 0 auto;
	text-align: center;
}
.equ > div,.des_block > div{
	position: relative;
	display: inline-block;
	text-align: left;
	width: 45%;
	height: 300px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
	vertical-align: top;
}
.equ > div.equ5{
	width: calc(90% + 40px);
	height: 400px;
}
.equ > div > div,.ser > div > div,.des_block > div > div{
	display: inline-block;
	vertical-align: middle;
}
.equ_pic,.des_pic{
	width: 350px;
	height: 300px;
	border-radius: 10px 0 0 10px;
}
.equ1 .equ_pic{
	background: url(../img/equ1.jpg) no-repeat center #fff;
	background-size: cover;
}
.equ2 .equ_pic{
	background: url(../img/equ3.jpg) no-repeat center #fff;
	background-size: contain;
}
.equ3 .equ_pic{
	background: url(../img/equ4.jpg) no-repeat center #fff;
	background-size: contain;
}
.equ4 .equ_pic{
	background: url(../img/equ2.jpg) no-repeat center right #fff;
	background-size: cover;
}
.equ5 .equ_pic{
	background: url(../img/equ5.jpg) no-repeat center #fff;
	background-size: contain;
	width: 600px;
	height: 400px;
}
.equ_txt,.des_txt{
	display: inline-block;
	width: calc(100% - 360px);
	padding: 0 30px;
}
.equ5 .equ_txt{
	width: calc(100% - 610px);
}
.equ_txt span{
	display: block;
	margin-top: 20px;
	color: #3588bd;
}
.page_tit2{
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 20px;
	letter-spacing: 4px;
}
.serpage{
	text-align: center;
	padding-top: 100px;
}
.ser{
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
}
.ser > div{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 320px;
	height: 450px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
	vertical-align: top;
}
.ser_pic{
	width: 200px;
	height: 200px;
}
.ser_txt .page_tit2{
	text-align: center;
}
.ser_txt{
	padding: 20px 20px;
	text-align: left;
}
.ser1 .ser_pic{
	background: url(../img/ser_icon01.png) no-repeat center bottom;
}
.ser2 .ser_pic{
	background: url(../img/ser_icon02.png) no-repeat center bottom;
}
.ser3 .ser_pic{
	background: url(../img/ser_icon03.png) no-repeat center bottom;
}
.ser4 .ser_pic{
	background: url(../img/ser_icon04.png) no-repeat center bottom;
}
.ser5 .ser_pic{
	background: url(../img/ser_icon05.png) no-repeat center bottom;
}
.ser6 .ser_pic{
	background: url(../img/ser_icon06.png) no-repeat center bottom;
}
.ser7 .ser_pic{
	background: url(../img/ser_icon07.png) no-repeat center bottom;
}
.ser8 .ser_pic{
	background: url(../img/ser_icon08.png) no-repeat center bottom;
}
.ser9 .ser_pic{
	background: url(../img/ser_icon09.png) no-repeat center bottom;
}
.ser10 .ser_pic{
	background: url(../img/ser_icon10.png) no-repeat center bottom;
}
.des_kvtxt > div{
	width: 350px;
	height: 350px;
	font-size: 25px;
	font-weight: 300;
	padding: 85px 20px 0 40px;
	outline: 15px solid rgba(46, 46, 46, 0.7);
}
.des_kvtxt .t6{
	top: 40px;
	left: calc(50% - 380px);
}
.des_kvtxt .t7{
	top: 110px;
	left: calc(50% + 20px);
	animation-delay: 1s;
}
.des_p1{
	margin: 100px auto;
}
.des_p1 p{
	text-align: left;
	margin-bottom: 20px ;
}
.des_p2{
	text-align: center;
}
.des_block1 .des_pic{
	background: url(../img/des_pic4.jpg) no-repeat center;
	background-size: cover;
}
.des_block2 .des_pic{
	background: url(../img/des_pic5.jpg) no-repeat center ;
	background-size: cover;
}
.des_block3 .des_pic{
	background: url(../img/des_pic6.jpg) no-repeat center;
	background-size: cover;
}
.des_block4 .des_pic{
	background: url(../img/des_pic7.jpg) no-repeat center;
	background-size: cover;
}
.tips2{
	color: #3588bd;
	padding: 20px 0 50px 0;
}
.fp1{
	width: 100%;
	text-align: center;
	padding: 100px 0;
}
.fp1 > div{
	display: inline-block;
	vertical-align: middle;
}
.plan_txt{
	text-align: left;
	margin-right: 100px;
	font-size: 22px;
	font-weight: 700;
}
.plan_txt ul{
	list-style: upper-alpha;
}
.plan_txt ul li{
	padding: 10px 0;
	transition: 0.3s;
	cursor: pointer;
}
.plan_txt ul li:hover{
	color: #3789be;
}
.plan_txt ul li > p{
	font-size: 16px;
	font-weight: 400;
}
.plan_main{
	position: relative;
	width: 533px;
	height: 575px;
}
.plan_main > div{
	position: absolute;
	opacity: 0.2;
	transition: 0.3s;
}
.plan_main > div.on{
	opacity: 1;
}
.plan_main > div.pmtop{
	background: url(../img/floor_plan.png) no-repeat;
	background-size: contain;
	width: 533px;
	height: 575px;
	opacity: 1;
	z-index: 10;
}
.pm1{
	background: url(../img/fp1.png) no-repeat;
	background-size: contain;
	width: 214px;
	height: 305px;
	top: 200px;
	left: 21px;
}
.pm2{
	background: url(../img/fp2.png) no-repeat;
	background-size: contain;
	width: 184px;
	height: 390px;
	top: 120px;
	left: 175px;
}
.pm3{
	background: url(../img/fp3.png) no-repeat;
	background-size: contain;
	width: 65px;
	height: 124px;
	top: 186px;
	left: 345px;
}
.pm4{
	background: url(../img/fp4.png) no-repeat;
	background-size: contain;
	width: 181px;
	height: 251px;
	top: 186px;
	left: 345px;
}
.pm5{
	background: url(../img/fp5.png) no-repeat;
	background-size: contain;
	width: 106px;
	height: 112px;
	top: 5px;
	left: 5px;
}
.pm6{
	background: url(../img/fp6.png) no-repeat;
	background-size: contain;
	width: 81px;
	height: 76px;
	top: 5px;
	left: 110px;
}
.fp2{
	text-align: center;
	margin: 0 auto;
	padding: 100px 0;
}
.dark{
	background:#efefef;
}
.fp2 > div,.slidpic.owl-carousel.owl-theme{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 30px;
	width: 53%;
	text-align: left;
}
.fp2 > div.slidtxt{
	width: 38%;
}
.slidp{
	width: 90%;
	height: 450px;
	margin: 0 5%;
}
.slidp iframe{
	width: 100%;
	height: 100%;
}
.slp1a{
	background: url(../img/002.jpg) center no-repeat;
	background-size: cover;
}
.slp1b{
	background: url(../img/006.jpg) center no-repeat;
	background-size: cover;
}
.slp1d{
	background: url(../img/des_pic4.jpg) center no-repeat;
	background-size: cover;
}
.slp2a{
	background: url(../img/index_2.jpg) center no-repeat;
	background-size: cover;
}
.slp2b{
	background: url(../img/index_5.jpg) center no-repeat;
	background-size: cover;
}
.slp2d{
	background: url(../img/des_pic7.jpg) center no-repeat;
	background-size: cover;
}
.slp3a{
	background: url(../img/005.jpg) center no-repeat;
	background-size: cover;
}
.slp3b{
	background: url(../img/index_3.jpg) center no-repeat;
	background-size: cover;
}
.slp3d{
	background: url(../img/index_5.jpg) center no-repeat;
	background-size: cover;
}
.slp4a{
	background: url(../img/004.jpg) center no-repeat;
	background-size: cover;
}
.slp4b{
	background: url(../img/006.jpg) center no-repeat;
	background-size: cover;
}
.slp4d{
	background: url(../img/002.jpg) center no-repeat;
	background-size: cover;
}
.slp5a{
	background: url(../img/index_5.jpg) center no-repeat;
	background-size: cover;
}
.slp5b{
	background: url(../img/008.jpg) center no-repeat;
	background-size: cover;
}
.slp5d{
	background: url(../img/index_3.jpg) center no-repeat;
	background-size: cover;
}
.slidptxt{
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 90%;
	bottom: 0;
	padding: 15px 30px;
	color: #fff;
	left: 5%;
}
.slidptxt p{
	font-size: 22px;
	font-weight: 500;
}
.fp2 ul{
	padding-top: 10px;
	padding-left: 25px;
	list-style: square;
}